# Configurações de Produção
NODE_ENV=production
VITE_NODE_ENV=production

# URLs das APIs
VITE_API_URL=https://enso-backend-0aa1.onrender.com
VITE_SUPABASE_URL=https://smvohmdytczfouslcaju.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtdm9obWR5dGN6Zm91c2xjYWp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ3NzE5NzgsImV4cCI6MjA3MDM0Nzk3OH0.Izj29QPPWrlhUIcLQ_840CVw5sLWuPFdpK7SL9wb92Y

# Configurações do WebSocket
VITE_WEBSOCKET_URL=wss://enso-backend-0aa1.onrender.com

# Configurações de Analytics (opcional)
VITE_ANALYTICS_ENABLED=true

# Configurações de Debug
VITE_DEBUG_MODE=false
